@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");


body {
    background-color: black;
    font-family: "Poppins", sans-serif;
} 


html {
  scroll-behavior: smooth;
}

li,
a,
button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #faf6f6;
  text-decoration: none;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #fffafa;
}

h3 strong {
    color: #fee8fe;
}

header {
  background-color: #010101;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
}

.logo {
  cursor: pointer;
}

.nav-link {
  list-style: none;
}

.nav-link li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-link li a {
  transition: all 0.3s ease 0s;
}

.nav-link li a:hover {
  color: #f9b5de;
}

button { 
  justify-content: center;
  padding: 9px 25px;
  background-color: #050505;    
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #867a86;
}
.about {
    padding: 20px;
}

.about .row h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-bottom: 40px;
}

.about .row h1 strong {
    color: #0b0b0b;
}

.about .row-main {
    display: flex;
    justify-content: center;
}
.row-main .col img {
  width: 19rem;
  height: 14rem;
}

.row-main .col p {
    width: 600px;
}

.row-main .col a {
    display: flex;
    margin-top: 1rem;
    color: #050505;
}

.portofolio {
  padding: 20px;
}

.portofolio .row {
  padding-inline: 290px;
}

.portofolio .row h1 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin-bottom: 40px;
}

.portofolio .row h1 strong {
  color: #0b0b0b;
}

.portofolio .row-main {
  display: flex;
  justify-content: space-between;
  padding-inline: 5%;
}
.row-main .col img {
margin-top: 100px;
width: 19rem;
height: 14rem;
}

.row-main .col p {
  width: 600px;
}

.row-main .col a {
  display: flex;
  margin-top: 1rem;
  color: #050505;
}

.center {
  padding: 20px;
}

.center .row h1 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin-bottom: 40px;
}
footer {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  background: #f7a52b;
}

footer strong {
  color: #0e0e0e;
}

footer p, footer strong {
  background-color: #f8b930;
}
  .orange {
    color: #019eff;
  }
  
  .form-container {
    max-width: 900px;
    margin: auto;
    background-color: #001925;
    padding: 30px;
    border-left: 5px solid #7fdcf6;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
  }
  
  .heading {
    display: block;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 20px;
  }
  
  .form-container .form .input {
    color: #87a4b6;
    width: 100%;
    background-color: #002733;
    border: none;
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    border-left: 1px solid transparent;
  }
  
  .form-container .form .input:focus {
    border-left: 5px solid #87e8f3;
  }
  
  .form-container .form .textarea {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #013747;
    color: #9aedf7;
    font-weight: bold;
    resize: none;
    max-height: 150px;
    margin-bottom: 20px;
    border-left: 1px solid transparent;
    transition: all 0.2s ease-in-out;
  }
  
  .form-container .form .textarea:focus {
    border-left: 5px solid #83dff0;
  }
  
  .form-container .form .button-container {
    display: flex;
    gap: 10px;
  }
  
  .form-container .form .button-container .send-button {
    flex-basis: 70%;
    background: #87e2f2;
    padding: 10px;
    color: #001925;
    text-align: center;
    font-weight: bold;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
  }
  
  .form-container .form .button-container .send-button:hover {
    background: transparent;
    border: 1px solid #01c8ff;
    color: #ff7a01;
  }
  
  .form-container .form .button-container .reset-button-container {
    filter: drop-shadow(1px 1px 0px #ff7a01);
    flex-basis: 30%;
  }
  
  .form-container .form .button-container .reset-button-container .reset-button {
    position: relative;
    text-align: center;
    padding: 10px;
    color: #ff7a01;
    font-weight: bold;
    background: #001925;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
    transition: all 0.2s ease-in-out;
  }
  
  .form-container .form .button-container .reset-button-container .reset-button:hover {
    background: #ff7a01;
    color: #001925;
  }
  .Btn {
    margin: auto;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    /* overflow: hidden; */
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s;
  }
  
  .svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(4px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all .3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
  }
  
  .BG {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#f5f4f4 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    z-index: -1;
    border-radius: 9px;
    pointer-events: none;
    transition: all .3s;
  }
  
  .Btn:hover .BG {
    transform: rotate(35deg);
    transform-origin: bottom;
  }
  
  .Btn:hover .svgContainer {
    background-color: rgba(156, 156, 156, 0.466);
  }
  /* Modal */
.images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  margin: 25px 1em;
}
.img {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  overflow: hidden;
}
.images .img img {
  position: absolute;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: 0.6s all ease;
  transform-origin: inherit inherit;
}
.images .img:hover img {
  transform: scale(1.15) rotate(5deg);
}
.img .img-desc {
  background-color: rgba(0, 0, 0, 0.5);
  backface-visibility: hidden;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 101%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  transform: scale(1.2);
  transition: 0.6s ease;
  opacity: 0;
}
.img-desc h4 {
  font-weight: 400;
}
/* .img:nth-child(1) img {
  transform-origin: 10px 50%;
} */
.images .img:hover .img-desc {
  transform: scale(1);
  opacity: 1;
}
.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  z-index: 9999;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
}
.modalContent {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modalImg {
  max-width: 80%;
  height: auto;
  max-height: 80vh;
}
.modalTxt {
  margin-top: 1em;
}
.close {
  position: absolute;
  top: 1em;
  right: 1.5em;
  font-size: 1.5em;
  cursor: pointer;
}
.modal.appear {
  opacity: 1;
  pointer-events: all;
}
.modal.appear .modalImg,
.modal.appear .modalTxt {
  animation: zoom 0.3s ease;
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
  